@fortawesome:registry=https://npm.fontawesome.com/AB72BD3C-BB4E-4A13-A8B3-D73F3E403FED
@fortawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=AB72BD3C-BB4E-4A13-A8B3-D73F3E403FED
