#main {
  .btn {
    padding-top: .5rem;
    padding-bottom: .5rem;
  }

  .btn-primary {
    @include nca-button($white, $nca-blue);
  }

  .form-control {
    color: $jungle;
  }

}

input.button.form-submit {
  max-width: 33%;
}

.group-right {
  .field--type-webform {
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 1rem;
    background: $grey-10;

    form {
      fieldset.col-auto {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }
}