@mixin linkOpacityHover($opacity: 1) {
  transition: opacity 0.15s ease-in-out;
  opacity: $opacity;

  &:hover {
    opacity: 85%;
  }
}

@mixin fancyAHover(
  $hoverColor: $blue,
  $opacity: false,
  $exclude-icon-width: 0px
) {
  @if ($opacity) {
    @include linkOpacityHover();
  }

  text-decoration: none;
  position: relative;

  &:hover {
    color: $hoverColor;
    text-decoration: none;

    &:after {
      transform: translateY(1);
      width: 0;
      right: 0;
      left: auto;
    }
  }

  &:after {
    position: absolute;
    bottom: -1px;
    left: $exclude-icon-width;
    width: calc(100% - #{$exclude-icon-width});
    height: 1px;
    background: $blue;
    content: "";
    transition: all 0.2s ease-in-out;
    transform: translateY(0);
  }
}

@mixin news-date($color) {
  text-transform: uppercase;
  color: $color;
  font-weight: 400;
  letter-spacing: 1px;
}

@mixin news-social-card($color, $hover-color) {
  background-color: $white;
  border-radius: 5px;
  //border-bottom: $border-width-bottom solid $color;
  cursor: pointer;
  box-shadow: 0 2px 30px 0 rgba(0,0,0,.1);

  &:hover {
    border-bottom-color: $hover-color;
    box-shadow: 0 4px 40px 0 rgba(0,0,0,.12);
  }
}

@mixin nca-button($text-color, $background) {
  color: $text-color !important;
  background: $background !important;
  border-color: lighten($background, 10%);
  text-transform: uppercase;
  font-family: $headings-font-family;
  font-weight: $weight-bold;
  border-radius: 32px;
  border: 1px solid $text-color;
  text-align: center;

  a {
    color: $text-color;
    text-decoration: none;
  }

  &:hover {
    color: $text-color !important;
    background: darken($background, 10%) !important;
  }
}

@mixin arrow-link($color, $hover-color, $font-size) {
  font-size: $font-size;
  color: $color;
  border-bottom: 2px solid transparent;

  &:after {
    content: '\f054';
    font-family: 'Font Awesome 5 Pro';
    margin-left: 0.5rem;
  }

  &:hover {
    text-decoration: none;
    color: $hover-color;
    border-bottom: 2px solid $hover-color;
  }
}

@mixin date-with-bg($color) {
  background-color: $color;
  border-color: $color;
  border-radius: 32px;
  color: $white;
  display: inline;
  padding: 5px 1rem;
  text-transform: uppercase;
  font-weight: 300;
  font-size: .9rem;
}

@mixin pagination() {
  .pagination {
    justify-content: center;

    li {
      margin-right: 0.5rem;
    }

    .page-link {
      border: none;
      color: $nca-teal !important;
      padding: 0.2rem 0.5rem;
      font-weight: 600;

      &:hover {
        background-color: $nca-teal !important;
        color: $white !important;
      }
    }
    .page-item {
      &.active {
        .page-link {
          color: $white !important;
          background-color: $nca-teal !important;
        }
      }

      &:first-child,
      &:last-child {
        .page-link {
          border-radius: 0;
        }
      }
    }
  }

}

@mixin link-tile($bg-color, $color) {
  .field--name-dynamic-token-fieldparagraph-icon {
    display: inline-block;
    background-color: $bg-color;
    border-radius: 10px;
    padding: .8rem;

    img {
      width: 30px;
    }
  }

  h3 {
    color: $color;
    margin-top: 1rem;
  }

  ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;

    li {
      border-top: 1px solid $grey-10;

      a {
        display: block;
        padding: 1rem 0;
        font-family: $headings-font-family-light;
        color: $black;
        font-size: $font-size-base;
      }
    }
  }
}