{#
/**
 * @file
 * 
 * @see template_preprocess_views_view_unformatted()
 */
#}

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyChJc8CuUgUg_qrzCVN5kgkXieCZU2nzdo&v=weekly&callback=&map_ids=ad3ce59443fca7dd">
</script>

<div id="map" style="width: 900px; height: 680px;"></div>

  <script type="text/javascript">

    var map = new google.maps.Map(document.getElementById('map'), {      	
		center: {lat: -35.2999, lng: 149.1345},
		zoom: 16,
		mapId: 'ad3ce59443fca7dd'
    });
	
    var maxZoom = 17;
    var minZoom = 15;
    
    var yourHere = {
      url: 'markers/medium/your-here.svg',
      size: new google.maps.Size(60, 60)		
    };
    
    var locations = [
      {% for row in rows %}
        {{ row.content }}
      {% endfor %}
    ];
    
    var yourLocation = ['You are here', -35.3025, 149.13, 4, yourHere];

    var infowindow = new google.maps.InfoWindow();

    var marker, i;

    let markers = [];

    function addMarkers(locations, zoom) {

      for (i = 0; i < locations.length; i++) { 
        console.log(zoom);
        if (zoom >= 17) {
          icon = locations[i][5];
        }
        else if (zoom < 15) {
          icon = locations[i][6];
        }
        else {
          icon = locations[i][4];
        } 

        marker = new google.maps.Marker({
          position: new google.maps.LatLng(locations[i][1], locations[i][2]),
          map: map,
          icon: icon,
        });

        google.maps.event.addListener(marker, 'click', (function(marker, i) {
          return function() {
            infowindow.setContent(locations[i][0]);
            infowindow.open(map, marker);
          }
        })(marker, i));
        markers.push(marker);
      }
	
      marker = new google.maps.Marker({
        position: new google.maps.LatLng(yourLocation[1], yourLocation[2]),
        map: map,
        icon: yourLocation[4],
        label: yourLocation[0]
      });

      google.maps.event.addListener(marker, 'click', (function(marker, i) {
        return function() {
          infowindow.setContent(yourLocation[0]);
          infowindow.open(map, marker);
        }
      })(marker, i));
      markers.push(marker);
    }

    function setMapOnAll(map) {
      for (let i = 0; i < markers.length; i++) {
      markers[i].setMap(map);
      } 
    }

    function clearMarkers() {
      setMapOnAll(null);
    }

    function deleteMarkers() {
      clearMarkers();
      markers = [];
    }

    // TODO: when the map zoom changes, resize the icon based on the zoom level so the marker covers the same geographic area
    google.maps.event.addListener(map, 'zoom_changed', function(locations, markers, i) {

      var zoom = map.getZoom();

      deleteMarkers();

      var locations = [
        {% for row in rows %}
          {{ row.content }}
      {% endfor %}
      ];

      addMarkers(locations, zoom, markers);

    });

    addMarkers(locations, 16, markers);
	
  </script>
</div>
