<header id="header" class="main-header" role="banner" aria-label="{{ 'Site header'|t }}">
    {% if page.announcement %}
        {{ page.announcement }}
    {% endif %}
    <div class="header">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <a class="header__logo" href="/">
                        <img src="{{ base_path ~ directory }}/logo.svg" class="img-logo">
                    </a></div>
                <div class="col-sm-5">
                    <ul class="header-menu">
                        <li><a href="/about-us">About us</a> </li>
                        <li><a href="/contact-us">Contact us</a></li>
                    </ul>
                </div>

                <div class="header-site-search-content-wrapper col-md-1">
                    <div class="header-search-form">
                        <div id="remote-search" class="input-wrap">
                            {{ core_areas_of_study }}
                            {#<button type="submit">#}
                            {#<i class="far fa-search fa-2x"></i>#}
                            {#<span class="sr-only">Search</span>#}
                            {#</button>#}
                        </div>
                    </div>
                    <div class="search-trigger">
                        <i class="fal fa-search fa-2x"></i>
                    </div>
                </div>

                {# Button to clone in menu #}
                <button id="mobile-menu-button" class="hamburger hamburger--spin" type="button" aria-hidden="true" hidden aria-controls="mobile-menu">
                  <span class="mobile-wrapper">
                      <span class="label">
                    <span class="sr-only">Mobile</span>MENU
                  </span>
                      <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                  </span>
                  </span>

                </button>
            </div>
        </div>
    </div>
</header>