{% for item in items %}
    {% if (item.content|render == 'Twitter')  %}
        <a href="https://twitter.com/nca_media" target="_blank" title="visit Twitter"><i class="fab fa-twitter"></i> @nca_media</a>
    {% endif %}
{% endfor %}
