{#
/**
 * @file
 * Theme override of an image.
 *
 * Available variables:
 * - attributes: HTML attributes for the img tag.
 * - style_name: (optional) The name of the image style applied.
 *
 * @see template_preprocess_image()
 */
#}
{%
set classes = [
  style_name ? 'image-style-' ~ style_name|clean_class,
]
%}

<img{{ attributes.addClass(classes, 'card-img-top') }} />
  {% if attributes.title is not empty %}
      <div class="card-body">
        <div class="image-caption">{{ attributes.title }}</div>
      </div>
  {% endif %}
