<time{{ attributes.addClass('date-time') }}>
    <span class="day">{{ text|date("D") }}, </span>
    <span class="date">{{ text|date("j M Y") }}</span>
    <span class="separator">-</span>
    <span class="time">{{ text|date("g:i a") }}</span>
</time>