.region-announcement { // this class is added by theme settings: /admin/appearance/settings/burley
  .field-with-icon {
    margin-bottom: 0;
    align-items: center;
    justify-content: center;
  }

  .announcement {
    padding-top: 1rem;
    padding-bottom: 1rem;

    p {
      margin: 0 !important;
      padding: 0 !important;
      line-height: 1.25rem;
    }

    .announcement-icon svg {
      width: 2rem;
      height: auto;
    }
  }

  .announcement-Alert {
    color: $nca-red;
    background: $nca-red-light;
  }

  .announcement-Information {
    background: $nca-blue-light;
    color: $nca-blue-dark;

    .announcement-icon svg {
      color: $nca-blue-dark;
    }
  }

  .announcement-Warning {
    background: $nca-yellow;
    color: $nca-black;

    .announcement-icon svg {
      color: $nca-black;
    }
  }

}
