body, table {
  font-size: $font-size-base;
  font-family: $font-family-base;
}

a {
  color: $link;

  &:hover {
    color: $link-hover;
  }
}

// Font size etc
.field--name-node-title h1,
h1,
h2,
h2,
h3 {
  font-weight: $weight-bold;
}

.field--name-node-title {
  h1 {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

h1, h2 {
  color: $grey;

  span {
    font-weight: 400;
  }
}

h2 {
  line-height: 2.5rem;
}

h2 + p,
.h2 + p,
h2 + blockquote,
.h2 + blockquote {
  margin-top: $spacer * 1.5;
}

h3 + p,
.h3 + p,
h3 + blockquote,
.h3 + blockquote {
  margin-top: $spacer;
}

p + h2,
p + .h2 {
  margin-top: $spacer * 2;
}

p {
  line-height: 28px;
}

.text-upper {
  text-transform: uppercase;
}

.letter-spacing {
  letter-spacing: 2px;
}

.text-red {
  color: $nca-red !important;
}

.text-blue {
  color: $nca-blue !important;
}

.text-green {
  color: $nca-green !important;
}

.text-teal {
  color: $nca-teal !important;
}

.text-pink {
  color: $nca-pink !important;
}

.text-purple {
  color: $nca-purple;
}

.text-yellow {
  color: $nca-yellow;
}

.text-orange {
  color: $nca-orange;
}

.weight-bold {
  font-weight: $weight-bold;
}

.weight-semi {
  font-weight: $weight-semi;
}

.weight-normal {
  font-weight: $weight-normal;
}

.weight-light {
  font-weight: $weight-light;
}

//Buttons
.btn {
  padding: 0.5rem 1rem;

  a {
    text-transform: uppercase;
    letter-spacing: 1px;
  }
}

.btn-primary {
  background-color: $nca-teal;
  border-color: $nca-teal;
  color: $white;

  &:hover {
    background-color: $nca-teal-dark;
    border-color: $nca-teal-dark;
  }
}

.btn-secondary {
  background-color: $nca-orange;
  border-color: $nca-orange;
  color: $white;

  &:hover {
    background-color: $nca-orange-dark;
    border-color: $nca-orange-dark;
  }
}

.btn-outline-primary.document-link {
  border-radius: 32px;
  color: $nca-teal;
  border-color: $nca-teal;

  &:hover {
    background-color: $nca-teal;
    color: $white;
  }
}

//Form
.user-login-form {
  margin-top: $spacer * 3;

  .col-auto {
    padding-left: 0;
    padding-right: 0;
  }

  input {
    padding: $spacer * 0.7;
    height: 100%;
    color: $black;

    &:focus {
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
      color: $black;
    }

    &#edit-submit {
      color: $white;
    }
  }
}

.field--type-image {
  overflow: hidden;

  img {
    max-width: 100%;
    height: auto;
  }
}