.node--type-event {
  @extend .node--type-news;
}

.hide-time {
  .date-time {
    .separator,
    .time {
      display: none;
      visibility: hidden;
    }
  }
}

.date-time {
  display: block;

  .day,
  .date {
    font-weight: 700;
  }
}
