$footer-top-menu-mt: 1.5rem;
$footer-top-menu-li-padding: 2rem;
$footer-top-icon-menu-li-padding: 1rem;

.footer-top {
  padding: 2rem 0;
  background-color: $grey-10;

  .footer-top-menu {
    display: flex;
    width: 100%;
    justify-content: center;
    list-style: none;
    padding-left: 0;
    margin: 0;

    li {
      padding-right: $footer-top-menu-li-padding;

      a {
        color: $black;

        &:hover {
          color: $nca-pink;
          text-decoration: none;

          svg {
            color: $nca-pink;
          }
        }
      }
    }

    .footer-top-first-text {
      color: $nca-blue-5;
      font-weight: 500;

      &:hover {
        color: $nca-blue;
        text-decoration: none;
      }
    }
  }

  .footer-top-icon-menu {
    display: flex;
    list-style: none;
    padding-left: 0;

    li {
      padding-right: $footer-top-icon-menu-li-padding;

      a {
        color: $jungle;

        &:hover {
          color: $jungle;
        }
      }

      i,
      svg {
        font-size: $h2-font-size;
      }
    }
  }

  .footer-top-second {
    color: $text-grey;
    align-items: center;
  }

  .footer-top-logo-group {
    display: flex;

    .footer-top-logo {
      margin-left: 2rem;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }
}

#footer {
  background-color: $nca-black;
  position: relative;

  &:before {
    content: '';
    width: 100vw;
    height: 6px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin-left: -50vw;

    background: -moz-linear-gradient(left,  #ed8034 0%, #ed8034 33%, #feb123 33%, #feb123 66%, #2184cd 66%, #2184cd 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #ed8034 0%,#ed8034 33%,#feb123 33%,#feb123 66%,#2184cd 66%,#2184cd 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #ed8034 0%,#ed8034 33%,#feb123 33%,#feb123 66%,#2184cd 66%,#2184cd 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ed8034', endColorstr='#2184cd',GradientType=1 ); /* IE6-9 */
  }

  &:after {
    position: absolute;
    z-index: -1;
    width: 100vw;
    height: 100%;
    content: '';
    margin-left: -50vw;
    top: 0;
    left: 50%;
    background-color: $nca-black;
  }

  .social-links {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    text-align: center;

    a {
      padding: 1rem 3rem;

      i, svg {
        color: $white;
        font-size: $h2-font-size-sm;
      }
    }
  }

  .footer-menu {
    border-top: 1px solid $white;
    border-bottom: 1px solid $white;

    ul {
      display: flex;
      justify-content: space-evenly;
      list-style: none;
      padding-left: 0;
      margin-top: 1.5rem;
      margin-bottom: 1.5rem;

      li {
        a {
          padding: 1rem;
          color: $white;
          font-family: $headings-font-family;
        }
      }
    }
  }

  .footer-text {
    margin-top: 5rem;
    margin-bottom: 5rem;

    h2 {
      color: $white;
      text-align: center;

      a {
        color: $white;
        text-decoration: underline;
      }
    }
  }

  .footer-bottom {
    padding-bottom: 3rem;
    align-items: center;

    .img-logo {
      object-fit: cover;
      // Md+ screens
      height: 64px;
      width: 268px;
    }

    .footer-bottom-menu {
      display: flex;
      justify-content: space-evenly;
      list-style: none;
      padding-left: 0;
      margin-bottom: 0;

      li {
        a {
          padding: 1rem;
          color: $white;
          font-family: $headings-font-family;
        }
      }

    }
  }

  #to-top {
    position: absolute;
    background: $grey-50;
    width: 54px;
    height: 54px;
    text-align: center;
    line-height: 4rem;
    top: -$spacer * 2;
    right: 1%;
    cursor: pointer;

    color: $white;

    svg {
      margin-right: 0;
    }

    &:hover {
      background: $nca-red;
    }
  }
}