#block-burley-account-menu {
  background: $jungle;
  a {
    text-transform: uppercase;
    color: $white;
    font-weight: 400;

    &:hover {
      color: $grey-25;
      text-decoration: none;
    }
  }
}

header .header {
  background: $jungle;
  padding-top: 10px;

  .img-logo {
    object-fit: cover;
    // Md+ screens
    height: 64px;
    width: 268px;
    margin-left: $spacer;
    margin-right: $spacer;
    margin-bottom: $spacer;
  }

  .region-header-search {
    #remote-search {
      margin-top: $spacer;
      display: flex;
      position: relative;

      .form-type-textfield {
        width: 100%;
        margin-bottom: 0;

        input {
          border-radius: $round-input-border-radius;
          padding: $spacer * 0.7;
          border: none;
          text-align: center;
          height: 100%;
          color: $black;

          &:focus {
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
          }
        }
      }

      button {
        position: absolute;
        right: $spacer * 0.8;
        top: $spacer * 0.8;
        border: none;
        background-color: transparent;
        bottom: 22px;
        color: $nca-orange;

        .svg-inline--fa {
          width: $h3-font-size-md;
          height: $h3-font-size-md;
        }

        svg {
          font-size: $h3-font-size-md;
          -webkit-transition: all 0.3s;
          -moz-transition: all 0.3s;
          -ms-transition: all 0.3s;
          -o-transition: all 0.3s;
          transition: all 0.3s;
        }

        &:hover {
          color: $nca-red;
          svg {
            -webkit-transform: scale(1.2);
            -moz-transform: scale(1.2);
            -ms-transform: scale(1.2);
            -o-transform: scale(1.2);
            transform: scale(1.2);
          }
        }
      }
    }
  }
}




////////

#bnr-wrap {
  background-color: $grey-75;

  #bnr-gwy {
    > .row {
      position: relative;
      align-items: center;
    }
  }

  #bnr-left {
    padding-top: 1rem;

    img {
      width: 100%;
    }
  }

  #bnr-mid {
    display: flex;
    align-items: center;

    .bnr-line-1 {
      a {
        font-size: $h4-font-size;
        text-transform: uppercase;
        color: $white;
        font-weight: 400;
        
        &:hover {
          color: $grey-25;
          text-decoration: none;
        }
      }

    }
  }

  #mobile-menu-button {
    position: absolute;
    right: 0;

    .mobile-wrapper {
      display: flex;
      align-items: center;
    }

    .hamburger-inner {
      background-color: $white;

      &:before,
      &:after {
        background-color: $white;
      }
    }
  }
}

.main-navigation {
  background: $grey-10;

  #block-mainnavigation {
    ul {
      flex-direction: row;

      li.nav-item {
        ul.dropdown-menu {
          padding: 0;
        }
      }

      li.dropdown-item {
        a {
          display: block;
        }
      }

      li {
        a {
          padding: $spacer;
          color: $black;

          &:hover {
            color: $white;
            background-color: $nca-orange;
          }

          &.is-active {
            background-color: $grey-10;
            color: $nca-orange;
          }
        }

        ul.dropdown-menu {
          background-color: $grey-25;
          padding: $spacer 0;
          margin: 0;
          border-radius: 0;
          border: none;
          position: absolute;

          li {
            padding: 0;
            background-color: inherit;
            
            a {
              &:hover {
                text-decoration: none;
              }
            }
          }
        }

        &.menu-item--expanded {
          a {
            &.dropdown-toggle {
              &:after {
                display: inline-block;
                content: '\f078';
                font-family: 'Font Awesome 5 Pro';
                font-weight: 300;
                font-size: 11px;
                border: none;
                vertical-align: 0;
                padding-left: $spacer * 0.2;
              }
            }
          }
        }
      }

      .dropdown:hover .dropdown-menu, .btn-group:hover .dropdown-menu{
        display: block;
      }
    }
  }
}
