#block-burley-account-menu {
  background: $jungle;
  a {
    text-transform: uppercase;
    color: $white;
    font-weight: 400;

    &:hover {
      color: $grey-25;
      text-decoration: none;
    }
  }
}

header .header {
  padding: 1rem 0;

  .row {
    align-items: center;
  }

  .img-logo {
    object-fit: cover;
    // Md+ screens
    height: 64px;
    width: 268px;
  }

  .header-menu {
    list-style: none;
    padding-left: 0;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 0;

    li {
      a {
        display: block;
        color: $nca-black;
        padding: .5rem 1rem;
        font-family: $headings-font-family;
        font-size: $small-font-size;

        &:hover {
          color: $nca-orange;
        }
      }
    }
  }

  .header-site-search-content-wrapper {
    z-index: 2;
    height: 40px;
    width: 40px;
    margin: auto;
    position: relative;

    &.open{
      .input-wrap{
        width: 910px;
        //transition-delay: 0.25s;
        background-color: $gray-100;
      }

      .js-form-submit  {
        //transition-delay: 0.25s;
        background-color: transparent;
        width: 40px !important;
        top: 0;
        right: -10px;
      }

      .search-trigger{
        //transition-delay: 0.1s;
        opacity: 0;
        z-index: -1;
      }
    }

    .js-form-submit ,
    .search-trigger{
      position: absolute;
      top: -2px;
      right: 0;
      height: 40px;
      width: 40px;
      text-align: center;
      padding: 10px;
      border: 0 none;
      box-shadow: none;
      outline: 0 none;
      cursor: pointer;
      z-index: 2;
      // transition: all 0.2s ease 0.3s;
    }

    .js-form-submit  {
      background-color: transparent;
      margin: -1rem 0;
      background: none;
      font-family: 'Font Awesome 5 Pro';
      color: $nca-black;
      font-weight: 400;
      font-size: $large-font-size;
    }

    .search-trigger{
      //transition: all 0.3s ease 0.48s;
      background-color: white;
      border: 1px solid $gray-200;
      border-radius: 50%;

      svg{
        color: $nca-black;
        font-size: 19px;
        height: auto;
        transition: all 0.1s ease;
      }

      &:hover {
        svg {
          font-size: $large-font-size;
        }
      }
    }

    .input-wrap{
      height: 40px;
      width: 58px;
      position: absolute;
      top: 0;
      right: 0;
      z-index: 1;
      padding: 0 20px;
      border-radius: 32px;
      transition: width 0.25s;

      input[type]{
        width: 100%;
        background-color: transparent;
        border: 0 none;
        box-shadow: none;
        outline: 0 none;
        padding: 0;
        margin: 0;
      }
    }

  }
}




////////

#bnr-wrap {
  background-color: $grey-75;

  #bnr-gwy {
    > .row {
      position: relative;
      align-items: center;
    }
  }

  #bnr-left {
    padding-top: 1rem;

    img {
      width: 100%;
    }
  }

  #bnr-mid {
    display: flex;
    align-items: center;

    .bnr-line-1 {
      a {
        font-size: $h4-font-size;
        text-transform: uppercase;
        color: $white;
        font-weight: 400;
        
        &:hover {
          color: $grey-25;
          text-decoration: none;
        }
      }

    }
  }

  #mobile-menu-button {
    position: absolute;
    right: 0;

    .mobile-wrapper {
      display: flex;
      align-items: center;
    }

    .hamburger-inner {
      background-color: $white;

      &:before,
      &:after {
        background-color: $white;
      }
    }
  }
}

.main-navigation {
  background: $grey-10;

  #block-mainnavigation {
    ul {
      flex-direction: row;

      li.nav-item {
        ul.dropdown-menu {
          padding: 0;
        }
      }

      li.dropdown-item {
        a {
          display: block;
        }
      }

      li {
        a {
          padding: $spacer;
          color: $black;

          &:hover {
            color: $white;
            background-color: $nca-orange;
          }

          &.is-active {
            background-color: $grey-10;
            color: $nca-orange;
          }
        }

        ul.dropdown-menu {
          background-color: $grey-25;
          padding: $spacer 0;
          margin: 0;
          border-radius: 0;
          border: none;
          position: absolute;

          li {
            padding: 0;
            background-color: inherit;
            
            a {
              &:hover {
                text-decoration: none;
              }
            }
          }
        }

        &.menu-item--expanded {
          a {
            &.dropdown-toggle {
              &:after {
                display: inline-block;
                content: '\f078';
                font-family: 'Font Awesome 5 Pro';
                font-weight: 300;
                font-size: 11px;
                border: none;
                vertical-align: 0;
                padding-left: $spacer * 0.2;
              }
            }
          }
        }
      }

      .dropdown:hover .dropdown-menu, .btn-group:hover .dropdown-menu{
        display: block;
      }
    }
  }
}
