// Chief Exec updates
a.ce-update {
  color: $nca-black;
  min-height: 520px;
  box-shadow: 0 2px 30px 0 rgba(0, 0, 0, 0.1);

  .news-date .date-time {
    @include date-with-bg($nca-orange);

    .separator,
    .time {
      display: none;
    }
  }

  &:hover {
    text-decoration: none;
    box-shadow: 0 4px 40px 0 rgba(0,0,0,.12);
  }
}


.path-news-and-events,
.path-from-chief-executive {
  .node--type-news {
    &.node--view-mode-full {
      margin-bottom: 5rem;

      .group-header {
        .field--name-field-image {
          width: 100%;
          margin-top: 2rem;
          margin-bottom: 2rem;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }

      .group-left {
        .field--name-body {
          line-height: 1.7;
        }
      }
    }

    &.node--view-mode-teaser {
      @include news-social-card($nca-orange, $nca-red-light);
      min-height: 520px;

      .news-date {
        @include date-with-bg($nca-orange);
      }

      .field--name-field-image {
        margin: 0;
        width: 100%;

        img {
          width: 100%;
          border-radius: 5px 5px 0 0;
        }
      }

      .field--name-field-date {
        @include news-date($nca-blue-50);
        padding: 0 2rem;
      }

      .field--name-node-title {
        margin: 1rem 0 1rem;
      }
    }
  }

  .view-display-id-attachment_1 {
    .node--type-event {
      &.node--view-mode-teaser {
        width: 100%;
        margin-top: 3rem;
        margin-bottom: 5rem;
        cursor: pointer;
        min-height: unset;
        position: relative;
        box-shadow: none;

        &:hover {
          .event-group {
            box-shadow: 0 4px 40px 0 rgba(0,0,0,.12);
          }
        }

        .field--name-field-image {
          img {
            width: 66%;
            object-fit: cover;
            margin: 0;
          }
        }

        .event-group {
          width: 50%;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: 0;
          background-color: $grey-10;
          border-radius: 10px;
          padding: 1.5rem;

          .field-with-icon {
            margin-bottom: 0.5rem;
          }

          .field--name-body {
            p {
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }

  nav.pager {
    padding-top: 1rem !important;

    @include pagination();
  }
}

.paragraph--type-mini-gallery {

  .card {
    background-color: $grey-10;

    .card-body {
      padding: .75rem;
    }

  }

  .card-img-top {
    height: auto;
  }

  .image-caption {
    font-size: .9rem;
    font-weight: 300;
  }
}

.node--type-news {
  &.node--view-mode-full {
    .row {
      width: 100%;
    }
  }
}