@media (min-width: 1460px) {
}

@media (max-width: 1460px) {

}

@include media-breakpoint-down(lg) { //1200px

}

@include media-breakpoint-down(md) { //992px


  #mobile-menu-button {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
  }

  //Homepage
  .path-frontpage {
    .block-field-blocknodelanding-pagefield-slider {
      .banner-hero {
        .banner-text {
          .banner-text-wrapper {
            padding: 2rem;
          }
        }
      }
    }
  }

}

@include media-breakpoint-down(sm) { //768px
  .path-frontpage {
    .block-field-blocknodelanding-pagefield-slider {
      .banner-hero {
        height: 480px;

        .field--name-field-slide-image {
          height: 480px;

          img {

          }
        }
      }
    }
  }

  .view-locations .view-filters #edit-type--wrapper #edit-type {
    display: block;

    .js-form-type-checkbox {
      width: 100%;
      margin: 0 0 1rem 0;
    }
  }

}

@include media-breakpoint-down(xs) { //576px
  .view-locations .view-filters #edit-type--wrapper #edit-type {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media only screen and (max-width: 480px) { //mobile only


}

@media only screen and (max-width: 370px) {

}

